{% extends 'base.html.twig' %}

{% block title %}Hello DimaController!{% endblock %}

{% block body %}
<h1>{{ article.title }} </h1>
<p>{{article.body}} </p>
<hr>
<a href="/symfony/public/dima"> Go back </a>
{% endblock %}